<h1><%= @project.name %></h1>
<%= @project.description %>
<h2>Available Builds</h2>
<ul>
<% @project.builds.each do |build| %>
<li><%= link_to build.build_number, build_path(build) %></li>
<% end %>
</ul>